body {
  background-color: #333;
}

#project-4x {
  border: 2px solid white;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

#tips {
  border: 2px solid white;
  left: 100px;
  color: orange;
  margin-left: auto;
  maggin-right: auto;
  align: center;
  align-text: center;
}
